@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700");

:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan-ft: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--light-grayish-cyan-bg);
  font-family: "League Spartan", sans-serif;
}

.App {
  width: 100%;
  font-family: "League Spartan", sans-serif;
  background-color: var(--LightGreyCyan);
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
}

.header-img {
  width: 100%;
  height: 100%;
  background-color: var(--dark-cyan);
}

.img {
  width: 100%;
  height: 100%;
}

.logo-container {
  margin-top: -2.5rem;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
.new {
  background-color: var(--dark-cyan);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  /* padding: 0.4rem 0.3rem 0.2rem 0.4rem; */
  padding: 0.3rem 0.5rem;
  /* margin-left: 10px; */
  margin-right: 5px;
}
.featured {
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 4rem 2.5rem;
  box-shadow: hsl(180, 29%, 50%) 0px 3px 6px;
  border-radius: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-left: 2rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.company {
  color: var(--dark-cyan);
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1rem;
}
.position {
  color: var(--very-dark-grayish-cyan);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}

.position:hover {
  color: var(--dark-cyan);
}

.job-detail {
  display: flex;
  flex-direction: row;
  /* color: white; */
  align-items: center;
  margin-top: -0.75rem;
}
.job-detail p,
.job-detail span {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.5;
}
.dot {
  /* background-color: white; */
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0 10px;
}

.description {
  margin-right: 50px;
  margin-bottom: -1rem;
}
.button {
  /* margin-right: 2rem; */
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}
.languages-button {
  background-color: var(--light-grayish-cyan-bg);
  color: var(--dark-cyan);
  padding: 0.5rem 0.6rem;
  font-weight: 700;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}
.languages-button:hover {
  background-color: var(--dark-cyan);
  color: white;
}
.filters {
  background-color: #fff;
  box-shadow: hsl(180, 29%, 50%) 0px 3px 3px;
  border-radius: 3px;
  padding: 2rem;
  margin: 2rem 2.5rem;
  /* width: 70%; */
  /* margin: auto; */
  position: relative;
  /* top: 50px;
  left: 15%; */
  bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.clear {
  border: none;
  color: black;
  font-weight: 700;
  background-color: #fff;
  font-size: 20px;
}
.clear-button:hover {
  border-bottom: 3px solid black;
}
.filters-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
}
.filters-p {
  background-color: var(--light-grayish-cyan-ft);
  color: var(--dark-cyan);
  padding: 0.5rem 0.6rem;
  font-weight: 700;
}
.filters-button {
  background-color: rgb(70, 68, 68);
  color: white;
  border: none;
  padding: 0.4rem 0.6rem;
  margin-left: 0.5rem;
  border-radius: 3px;
  font-weight: 700;
}
.filters-button:hover {
  background-color: rgb(22, 18, 18);
  cursor: pointer;
}

@media only screen and (min-width: 1124px) {
  .card-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 9rem;
  }

  .card {
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
  }

  .logo-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    margin-top: 0;
  }

  .description {
    margin-right: 50px;
    margin-bottom: -1rem;
  }
  .button {
    margin-right: 2rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  .filters {
    margin: 1rem 9rem;
  }
}
